.products-table {
  display: flex;
  column-gap: 20px;

  &__container {
    width: 100%;
    position: relative;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__action {
    width: 30px;
  }
}
